:root {
	--sl-color-accent-low: #242424;
	--sl-color-accent: #fff;
	--sl-color-accent-high: #c8c8c8;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #000;

	--sl-color-bg-sidebar: #000;
	--sl-color-bg-nav: #000;
	--sl-color-bg: #000;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d7d7d7;
	--sl-color-accent: #000;
	--sl-color-accent-high: #323232;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;

	--sl-color-bg-nav: #fff;
	--sl-color-bg: #fff;

}

:root {
	--sl-text-h1: 2em;
	--sl-text-h2: 1.6em;
	--sl-text-h3: 1.2em;
}